.output-container {
  display: flex;
  flex-direction: column;
  max-width: 45rem;
  padding: $spacing-08;
  padding-bottom: $spacing-07 * 2;
  width: 100%;

  @media (min-width: 1200px) {
    flex: 1 1 auto;
    margin-left: $spacing-09;
    max-width: 60rem;
  }

  .output-switch {
    padding-bottom: $spacing-09;

    &__type {
      max-width: 10rem;
    }
  }

  .container-title {
    padding-bottom: $spacing-09;
  }
}
